.intro-description__paragraph-bordered {
    margin: 10px 0 0 0;
    padding: 10px;
    max-width: 263px;
    color: black;
    font-weight: 500;
    font-size: 24px;
    border: 4px white dashed;
    border-radius: 10px;
}
