.video {
    background-color: #ffffff;
    margin: 40px 100px 0;
    max-width: 1200px;
    min-height: 600px;
    border-radius: 20px;
}

.video__header {
    display: flex;
    align-items: center;
    gap: 105px;
    padding-top: 20px;
}

.video__link {
    padding-left: 140px;
    cursor: pointer;
}

.video__link:hover {
    opacity: 0.7;
}

.video__link-img {
    width: 150px;
    height: 150px;
}

.video__paragraph {
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.videos__wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px 20px;
    box-sizing: border-box;
}

.videos__yt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.videos__yt-item {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videos__yt-item a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    text-decoration: none;
    color: inherit;
}

.videos__yt-item a:hover {
    opacity: 0.7;
}

.videos__yt-item img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    object-position: center;
}

.video__paragraph-bottom {
    display: none;
}

.video__link-bottom {
    display: none;
}

.video-mobile {
    display: none;
}

@media (max-width: 768px) {
    .video {
        margin: 20px 20px 0;
        border-radius: 10px;
        min-height: auto;
    }


    .video__header {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 0;
    }

    .video__link {
        padding-left: 0;
    }

    .video__title img {
        width: 100%;
        height: auto;
    }

    .video__paragraph {
        font-size: 20px;
        text-align: center;
        line-height: 1.4;
    }

    .videos__wrapper {
        padding: 0 10px 20px;
    }

    .videos__yt {
        display: block;
        width: 100%;
    }

    .videos__yt-item {
        margin-bottom: 20px;
    }

    .videos__yt-item img {
        width: 100%;
        object-fit: cover;
        height: 99%;
    }

    .video__paragraph-bottom {
        display: inherit;
        color: black;
        font-weight: 500;
        font-size: 20px;
    }

    .video__link-bottom {
        display: inherit;
        width: 200px;
    }

    .video-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .video-mobile__title {
        font-size: 24px;
        color: black;
        font-weight: 500;
    }

    .video-mobile__img {
        width: 140px;
        height: 140px;
    }

    .video-mobile__img:hover {
        opacity: 0.8;
    }
}

