.carousel {
    position: relative;
    margin: 20px auto 0;
    max-width: 100%;
    overflow: hidden;
}

.carousel__container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel__slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    width: 300%;
    justify-content: start;
    align-items: center;
}

.carousel__slide {
    min-width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

.carousel__image {
    max-width: 400px;
    max-height: 600px;
}

.carousel__link {
    text-decoration: none;
}

.carousel__link:hover {
    opacity: 0.5;
}

.carousel__description {
    text-align: center;
    color: #009859;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
}

.carousel__button {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 3rem; /* Уменьшил размер кнопок для мобильных устройств */
    cursor: pointer;
    z-index: 2;
}

.carousel__button--prev {
    left: 24%;
    color: #019fc3;
}

.carousel__button--prev:hover {
    opacity: 0.5;
}

.carousel__button--next {
    right: 24%;
    color: #009859;
}

.carousel__button--next:hover {
    opacity: 0.5;
}

.carousel__title {
    text-align: center;
    color: #009859;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 5px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {

    .carousel {
        padding-top: 30px;
    }

    .carousel__image {
        max-width: 300px;
        max-height: 400px;
    }

    .carousel {
        margin: 10px auto 0;
    }

    .carousel__button--prev {
        left: 14px;
    }

    .carousel__button--next {
        right: 14px;
    }

    .carousel__button {
        font-size: 2rem;
    }

    .carousel__description {
        font-size: 0.8rem;
    }
}
